
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 105px;
    width: 1440px;
}
#logo {
    width: 192px;
    height: 35px;
}
#logo2 {
    height: 65px;
    width: 298px;
}
#phone {
    width: 21px;
}
#phoneus {
    height: 24px;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.menu {
    text-decoration: none;
    color: black;
    height: 26px;
    
    font-family: "Manrope", Times, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    padding: 6px;
}
a:active {
    color: #5C8692;
}
a:hover {
    color: #5C8692
}
a:visited {
    color: #324a50;
    text-decoration: solid;
}
#fb {
    height: 18px;
    }
#twit {
    width: 17.96px;
    }
#in {
    width: 15.75px;
    }
.button {
    color: #fff;
    background-color: rgba(92, 134, 146, 1);
    font-family: "Manrope", Times, sans-serif;
    font-weight: 400; 
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    border: 2px solid #5C8692;
    cursor: pointer;
    }
.button:hover {
    background-color: #324a50;
}
main {
    background-color: rgba(235, 243, 245, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    }
.box1 {
    font-family: "Manrope", Times, sans-serif;
    font-weight: 400; 
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #5c8692;
}
p {
    height: 92px;

    font-family: "Manrope", Times, sans-serif;
    font-weight: 400; 
    font-size: 19px;
    line-height: 30px;
    color: #555555;
}
.box2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: 0.66px;
    color: #141414;
}
aside {
    width: 40%;
    align-self: flex-end;
}
footer {
    font-family: 'Playfair Display', Times, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    padding: 6px;

    background-color: rgba(30, 44, 48, 1);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 105px;
}
